<section class="banner">
    <div class="banner-text">
        <div class="text-content">
            <h2>Planes</h2>
            <p>"Hay que unirse, no para estar juntos, sino para hacer algo juntos".</p>
            <p>Donoso Cortés</p>
        </div>

    </div>

</section>
<section class="planes">
    <div class="card-container">

        <div class="card">
            <div class="card-header">
                <h3>Plan padrino</h3>
                <i class="fas fa-child fa-3x"></i> 
            </div>
            <div class="card-body">
                <P>Monto mensual $ 30.000</P>
                <p>Regalo en fechas especiales</p>
                <P>Sin claúsula de permanencia</P>
            </div>
            <div class="card-footer">
                <button (click)="navigateTo('apadrinar')" class="btn btn-outline-info">Apadrinar</button>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <h3>Plan solidario</h3>
                <i class="fas fa-donate fa-3x"></i>
            </div>
            <div class="card-body">
                <P>Monto donación deseada</P>
                <p>Su donanción va dirigida a niños sin padrino</p>
                <P>Sin claúsula de permanencia</P>
            </div>
            <div class="card-footer">
                <button (click)="navigateTo('donar')" class="btn btn-outline-warning">Donar</button>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <h3>Plan voluntariado</h3>
                <i class="fas fa-hands-helping fa-3x"></i>
            </div>
            <div class="card-body">
                <P>Inscríbete aquí para participar en las activiades realizadas por la fundación como voluntario.</P>
                <p>Edad miníma 18 años</p>
            </div>
            <div class="card-footer">
                <button (click)="navigateTo('apadrinar')" class="btn btn-outline-primary">Inscribirse</button>
            </div>
        </div>
    </div>
</section>