<section class="banner">
    <div class="banner-text">
        <div class="text-content">
            <h2>Planes</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime autem magnam ratione corporis repellat!
                Similique laudantium dolorum doloribus sed dolor nostrum nemo totam, magni sunt quisquam ex deserunt
                natus
                consectetur!</p>
        </div>

    </div>

</section>
<section class="planes">
    <div class="card-container">

        <div class="card">
            <div class="card-header">
                <h3>Plan padrino</h3>
                <i class="fas fa-child fa-3x"></i> 
            </div>
            <div class="card-body">
                <P>Monto mínimo mensual $ 30.000</P>
                <p>Regalo en fechas especiales</p>
                <P>Sin claúsula de permanencia</P>
            </div>
            <div class="card-footer">
                <button (click)="navigateTo('apadrinar')" class="btn btn-outline-info">Apadrinar</button>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <h3>Plan solidario</h3>
                <i class="fas fa-donate fa-3x"></i>
            </div>
            <div class="card-body">
                <P>Monto donación deseada</P>
                <p>Su donanción va dirigida a niños sin padrino</p>
                <P>Sin claúsula de permanencia</P>
            </div>
            <div class="card-footer">
                <button (click)="navigateTo('donar')" class="btn btn-outline-warning">Donar</button>
            </div>
        </div>
    </div>
</section>