<section class="contenedor">
    <div class="left">
        <div class="brand">
            <img src="../../../assets/img/logo.png" width="100" alt="logo fundacion">
        </div>
        <div class="arrow">
            <i class="fas fa-angle-right fa-3x"></i>
        </div>
        <div class="title">
            <h2>Registráte</h2>
        </div>
    </div>
    <div class="right">
    <div class="register">
        <form>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Correo Electrónico</label>
              <input type="email" class="form-control" id="exampleInputEmail1">
            </div>
            
            <div class="mb-3">
                <label for="exampleInputName" class="form-label">Nombre Completo</label>
                <input type="text" class="form-control" id="exampleInputName">
              </div>

              <div class="mb-3">
                <label for="exampleInputUsername" class="form-label">Nombre de usuario</label>
                <input type="text" class="form-control" id="exampleInputUsername">
              </div>

            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            
            <button type="submit" class="btn btn-primary">Registrarse</button>
          </form>
        </div>

    </div>
    
   

</section>
