.banner {
  background-image: url("../../../assets/img/quienes/niños.jpg"); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 87vh; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

.nosotros {
  padding: 50px 0;
  color: rgb(65, 63, 63);
  text-align: justify;

  .container {
  
    .card {
      
      max-width: 350px;
      .card-footer {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
      }
    }
  }
}

.mision, .vision {
    color: rgb(65, 63, 63);
    text-align: justify;
    padding: 50px 0;
    
}