<app-navbar></app-navbar>
<section class="banner">

</section>
<section class="nosotros">
    <div class="container">
        <div class="nosotros-header">
            <h2>Nuestro equipo</h2>
            <p>
                La fundación Y&J, es una organización colombiana sin animo de lucro, creada en Abril de 2020 en la cuidad de Bogotá, Colombia. En el mes de Febrero de 2021 se unieron a este proyecto 6 estudiantes del BootCamp de desarrollo web Full Stack, como un aporte a esta noble causa, implementando todos sus conocimientos adquiridos en este nuevo proyecto de aprendizaje.
            </p>
        </div>


        <div class="row">

            <div class="col" *ngFor="let item of teams">
                <div class="card">
                    <img [src]="item.img" width="180" class="card-img-top" alt="...">

                    <div class="card-footer">
                        <span>{{item.name}}</span>
                        <small class="text-muted">{{item.role}}</small>
                    </div>
                </div>
            </div>

        </div>
    </div>

</section>

<section class="mision">
    <div class="container">
        <h2>Misión</h2>
    <p>Su objetivo es mejorar la calidad de vida de un grupo poblacional de niños de escasos recursos y así contribuir a su desarrollo social. Implementando, acompañando y haciendo seguimiento al programa “plan padrino” y programas comunitarios para mejorar las condiciones de vida de niños y niñas buscando de esta manera disminuir problemáticas asociadas a la alimentación, salud, y abandono familiar, animando a la participación de personas de buen corazón.</p>
    </div>
    
</section>

<section class="vision">
    <div class="container">
        <h2>Visión</h2>
    <p>En la Fundación Y&J queremos ser reconocidos y respetados a nivel nacional e internacional como una fundación idónea en el desarrollo de programas en pro de la niñez que favorezcan el reconocimiento, desarrollo y el respeto de los derechos de los niños y niñas. De igual manera, buscamos contribuir a la sociedad, gracias al buen corazón de empresas y personas naturales, implementando nuevas estrategias de intervención, lineamientos técnicos y aportes a las políticas para la niñez.</p>
    </div>
    
</section>
<app-footer></app-footer>