<section class="banner">
    <div class="banner-text">
        <div class="text-content">
            <h3>TU AYUDA ME AYUDA</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime autem magnam ratione corporis repellat!
                Similique laudantium dolorum doloribus sed dolor nostrum nemo totam, magni sunt quisquam ex deserunt
                natus
                consectetur!</p>
            <button class="btn btn-outline-primary">IR</button>
        </div>

    </div>
    <div class="banner-social">
        <div class="social-icons">
            <a href=""><i class="fab fa-facebook fa-2x"></i></a>
            <a href=""><i class="fas fa-envelope fa-2x"></i></a>
            <a href=""><i class="fab fa-whatsapp fa-2x"></i></a>

        </div>
    </div>

</section>