.banner {
  background-image: url("../../../assets/img/home/bannerHome.jpg"); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 87vh; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  color: rgb(65, 63, 63);
  display: flex;
  padding-bottom: 90px;

  .banner-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    flex: 2;

    .text-content {
      width: 75%;
    }
  }
  .banner-social {
    flex: 3;
    padding: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    .social-icons * {
      margin-left: 8px;
      text-decoration: none;
      color: inherit;
    }
  }
}
