<section class="banner">
    <div class="banner-text">
        <div class="text-content">
            <h3>¡TU AYUDA ME AYUDA!</h3>
            <p>"Ayúdate a ti mismo y ayuda a los demás con toda tu fuerza y al hacerlo ¡conserva la alegría! ... ¡Es difícil llevar una vida buena! Pero la vida buena es bella"</p>
            <p>Ludwig Wittgenstein</p>
            <button class="btn btn-outline-primary">IR</button>
        </div>

    </div>
    <div class="banner-social">
        <div class="social-icons">
            <a href=""><i class="fab fa-facebook "></i></a>
            <a href=""><i class="fas fa-envelope "></i></a>
            <a href=""><i class="fab fa-whatsapp "></i></a>

        </div>
    </div>

</section>