<section class="banner">
    <div class="banner-text">
        <div class="text-content">
            <h2>Tu Area Personal</h2>
            <div class="groups">

                <div class="group">
                    <h5>Usuario</h5>
                    <p>{{usuario}}</p>
                </div>

                <div class="group">
                    <h5>Email</h5>
                    <p>{{correo}}</p>
                </div>
                
                <div class="group">
                    <h5>Nombre</h5>
                    <p>{{nombre}}</p>
                </div>
            </div>
        </div>

    </div>

</section>
<section class="personal">
</section>