/* You can add global styles to this file, and also import other style files */

body {
    background: #d9d2cb;
    color: #40569e;
    font-family: 'Lato', sans-serif;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #999;
    color: #fff;
    text-align: center;
    padding: 25px;
    margin-top: 25px;
}